<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd">


    <!--set方法注入-->
    <bean id="car" class="com.spring.lifecycle.Car" init-method="init" destroy-method="destroy">
        <property name="brand" value="通用"></property>
        <property name="crop" value="义气"></property>
        <property name="price" value="500000"></property>
    </bean>

    <bean class="com.spring.lifecycle.MyBeanPostProcessor"></bean>

</beans>