<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!--继承关系-->
    <bean id="car" class="com.spring.di.Car" abstract="true">
        <property name="brand" value="asdasdasd"></property>
        <property name="crop" value="bbbbb"></property>
    </bean>

    <bean id="car2" parent="car">
        <property name="price" value="1231"></property>
    </bean>

    <context:component-scan base-package="com.spring.annotation" use-default-filters="false">
        <!--使用指定扫描需要不适用默认的配置-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
        <context:include-filter type="assignable" expression="com.spring.annotation.UserController"/>

        <!--使用指定扫描需要使用默认配置-->
    </context:component-scan>
</beans>